build/
Aufgabe_1/.vscode
Aufgabe_1/doc/html
Aufgabe_2/src/.vscode/c_cpp_properties.json
Aufgabe_2/src/.vscode/launch.json
Aufgabe_2/src/.vscode/settings.json
Aufgabe_2/20231006_A2_GrA1_AlsaadySchmidt/src/.vscode
Aufgabe_2/20231006_A2_GrA1_AlsaadySchmidt/src/.vscode
.vscode/launch.json
.vscode/settings.json
.vscode/c_cpp_properties.json
Aufgabe_3/src/kunde Name.txt
Aufgabe_3/src/rechnung_vorlage.json
